
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>ADI</th>
                <th>AÇIKLAMA</th>
                <th>DURUM</th>
            </tr>

            <tr>
                <td>1</td>
                <td>TEKNOLOJİ</td>
                <td>LOREM İPSUM</td>
                <td>1</td>


            </tr>
        </table>

    </div>
</body>
</html>
